[tool.poetry]
name = "data_check"
version = "0.2.1"
description = "simple data validation"
authors = ["Andreas Rjasanow <andrjas@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://andrjas.github.io/data_check/"
repository = "https://github.com/andrjas/data_check"
keywords = ["data", "validation", "testing", "quality"]
classifiers = [
        "Development Status :: 3 - Alpha",
        "Environment :: Console",
        "Intended Audience :: Developers",
        "Intended Audience :: Other Audience",
        "Intended Audience :: Science/Research",
        "Topic :: Database",
        "Topic :: Software Development",
        "Topic :: Software Development :: Testing",
    ]
include = ["CHANGELOG.md", "LICENSE"]

[tool.poetry.dependencies]
python = "^3.6.1"
SQLAlchemy = "~1.3.22"
pandas = "~1.1.5"
pyyaml = "^5.3.1"
numpy = "~1.19.5"
click = "~7.1.2"
colorama = "~0.4.4"
importlib-metadata = "^3.4.0"


psycopg2-binary = { version = "~2.8.6", optional = true }
cx_Oracle = { version = "~8.1.0", optional = true}
pymysql = {version = "*", optional = true, extras = ["rsa"] }
pyodbc = {version = "~4.0.30", optional = true}

[tool.poetry.dev-dependencies]
pytest = "~6.2.1"
black = "~20.8b1"
flake8 = "^3.8.4"

[tool.poetry.scripts]
data_check = "data_check.__main__:main"

[tool.poetry.extras]
postgres = ["psycopg2-binary"]
oracle = ["cx_Oracle"]
mysql = ["pymysql"]
mssql = ["pyodbc"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
